<div class="index-container">
    <img src="images/beer.png" width="400" alt="fresh-beer" class="beer-cover-img">
    <button onclick="location.href='/beers'" type:"button">Beers</button>
    <button onclick="location.href='/random-beer'" type:"button">Random Beer</button>
 </div>