<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
    {{#if user}}
      <a href="/rooms">Room list</a><br>
      <a href="/private">Super secret page</a><br>
      <a href="/rooms/add">Create a room</a><br>
      <form action="/logout", method="POST" >
            <button type="Submit">Logout</button>
      </form>
        {{else}}
          <a href="/rooms">Room list</a><br>
          <a href="/signup">Signup</a><br>
          <a href="/login">Login</a><br>
          <a href="/slack-login">Login with Slack</a><br>
          <a href="/google-login">Login with Google</a><br>

    {{/if}}
    
    <a href="/public">Public page</a>
  </nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>