
{{!-- <h1>{{title}}</h1>

<p>Welcome to {{title}}</p> --}}
<form action="/artists">
    <label for="artist">Artist</label>
    <input id="artist" type="text" name="artistName">

    <button type="submit">Search for an Artist!</button>
   </form>