
<h4>Name: {{details.name}}</h4>
<h5>Occupation: {{details.occupation}}</h5>
<p>catch Phrase: {{details.catchPhrase}}</p>
<form action="/celebrities/delete/{{details._id}}" method="post">
  <button type="submit">Delete</button>
</form>